<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs Learning</title>

    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>Vuejs Learning</h1>
    <div id="app">

        <div v-if="showBook">
            <h2>{{title}}</h2>
            <h4>Author name - {{author}}</h4>
            <h4>Age - {{age}}</h4>
        </div>

        <!-- one way (not dynamic)-->
        <!-- <button @click="showBook=false">hide book</button>
        <button @click="showBook=true">show book</button> -->

        <!-- another way (a little dynamic)-->
        <!-- <button @click="showBook=!showBook">Toggle button</button> -->

        <!-- another way (dynamic) -->
        <button @click="showBook=!showBook">

            <!-- <span v-if="showBook==true">hide book</span> -->
            <span v-if="showBook">hide book</span> 

            <!-- <span v-if="showBook==false">show book</span> -->
            <span v-if="!showBook">show book</span>
        </button>
    </div>

    <script src="app.js"></script>
</body>
</html>