<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs Learning</title>

    <style>
        .box{
            background-color: aqua;
            padding: 100px;
            margin: 30px;
            display: inline-block;
        }
    </style>

    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>Vuejs Learning</h1>
    <div id="app">

        <div v-if="showBook">
            <div v-for="book in books">
                <h2>Book name - {{book.title}}</h2>
                <h4>Author name - {{book.author}}</h4>
                <h4>Age - {{book.age}}</h4>
                <h4>Language - {{book.language}}</h4><hr>
            </div>
        </div>

        <button @click="showBook=!showBook">
            <span v-if="showBook">hide book</span> 
            <span v-if="!showBook">show book</span>
        </button> <br>

    <!-- (v-bind:) -->
        <a :href="link">YouTube</a>
        
    </div>

    <script src="app.js"></script>
</body>
</html>